{% extends "global_base.html" %}

{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>Username or password didn't match</p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    <form action="." method="POST">
{#        {{ form.as_p }}#}
        <h2>Username</h2>
        {{ form.username }}<br>
        <h2>Password</h2>
        {{ form.password }}<br>

        {% csrf_token %}
        <input type="hidden" name="text" value="{{ next }}"/>
        <p><input type="submit" value="Log in"></p><br><br>
    </form><br>
    <p>Forgot your password ? You can <a href="{% url 'accounts:password_reset' %}">reset password</a></p>
    <p>Don't have account ? You can <a href="{% url 'accounts:registration' %}">register</a></p>
    <div>
        <h3>Login with:</h3>
        <ul>
            <li><a href="{% url 'social:begin' 'facebook' %}">Login with facebook</a></li>
            <li><a href="{% url 'social:begin' 'google-oauth2' %}">Login with google</a></li>
            <li><a href="{% url 'social:begin' 'vk-oauth2' %}">Login with Vkontakte</a></li>
{#        <p>Vkontakte</p>#}
{#        <p>Google</p>#}
        </ul>
    </div>
    {% endif %}
{% endblock %}
