{% extends "global_base.html" %}


{% block title %} My account {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Hello, {{ request.user.username|lower }}!</h1>
        <h2>You can:</h2>
{#        {% with total_images_created=request.user.images_created.count %}#}
{#            <p>Welcome to your dashboard. You have bookmarked {{ total_images_created}}#}
{#                image{{ total_images_created|pluralize }}.</p>#}
{#        {% endwith %}#}
{#        <p>Drag the following button to your bookmarks toolbar to bookmark images#}
{#            from other websites → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a><p>#}
        <h4>Change <a href="#">username</a></h4>
{#        <p><a href="#">Change username</a></p>#}
        <h4>Change <a href="{% url "accounts:pass_change" %}">password</a></h4>
{#        <p><a href="{% url "accounts:pass_change" %}">Change password</a></p>#}
        <h2>Profile settings: </h2>
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
{#            {{ user_form }}#}
            {{ profile_form.as_p }}
{#            Drag the following button to your bookmarks toolbar to bookmark images from other websites → Bookmark it}#}
            {% csrf_token %}
            <p><input type="submit" value="Save changes"></p>
        </form>
    {% else %}
        <h1>You can't edit your account if you don't have one.</h1>
        <p>You can<a href="{% url 'accounts:login' %}">Log-in</a> or <a href="{% url 'accounts:registration' %}">create <account></account></a></p>
    {% endif %}
{% endblock %}