{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">#}
</head>
<body>
    {% include "blog/includes/top.html" %}
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            {% endfor %}
        </ul>
    {% endif %}
{#    {% include 'blog/includes/sidebar.html' %}#}


{#               SIDEBAR               #}


    <div id="sidebar">
        <h1><a href="{% url "blog:post_list" %}">Main page</a></h1>

        {#    DEV     #}

        <h4>Total posts: {% total_posts %}</h4>
        <h4>Total users: {% total_users %}</h4>

        <h4>Search field</h4>
        <ul>
            <form action="{% url 'blog:post_search'%}" method='get'>
                <input name = 'query' type="text" class="side_text" placeholder="Enter search text">
                <input type="submit" value="Search">
            </form>
        </ul>
        <br><br><br><br>
        {% if user_form %}
            <br>
            <h2>You can:</h2>
            <ul>
                <li><a href="{% url "accounts:pass_change" %}">change password</a></li>
                <li><a href="#">change username and profile settings</a></li>
            </ul>
        {% else %}
            <h4>Latest posts:</h4>
            {% show_latest_posts 3 %}
            {% if post.tags %}
                <h4>Tags in current post:</h4>
            {% else %}
                <h4>Tags:</h4>
            {% endif %}
            {% if post.tags %}
                <!-- post.tags.all-->
                <ul>
                {% for tag in post.tags.all%}
                    <li>
                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                {% all_tags %}
            {% endif %}
        {% endif %}
{#        <h4>Search field</h4>#}
{#        <ul>#}
{#        <form action="{% url 'blog:post_search'%}" method='get'>#}
{#            <input name = 'query' type="text" class="side_text" placeholder="Enter search text">#}
{#            <input type="submit" value="Search">#}
{#        </form>#}
{#        </ul>#}
{#        <br><br>#}

    </div>
</body>
</html>